{% extends "./header.html" %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/estilos1.css' %}">





<div class="px-5 p-3 ">
  <h2>Belenes</h2>
  <a href="#"><p class="text-primary">PDF PROGRAMA BELENES</p></a>
      <p>El 25 de diciembre de 1223, en una cueva en una escarpada zona cerca del pueblo de Greccio,
        en Italia, San Francisco de Asís celebraba una misa con frailes, pastores y campesinos
        llegados de las aldeas vecinas. Allí mismo, en un pesebre ante el que había un asno y un buey
        y con un niño que yacía sin fuerzas al que revivió de forma milagrosa, San Francisco
        recreó el nacimiento del Niño Jesús y montó el que se considera primer belén de la historia.</p>
      <p>La tradición iniciada por el santo en la Edad Media ha estado muy presente en nuestra ciudad, tanto en las casas de los vecinos, donde armar cada Navidad el nacimiento ha sido motivo de encuentro y celebración de las familias, como en instituciones e incluso empresas, que tradicionalmente han querido compartir con la ciudadanía sus colecciones. De hecho, fue el rey Carlos III, conocido popularmente como “el mejor alcalde de Madrid” por su trabajo transformador en la capital, quien      introdujo los bellísimos belenes napolitanos en 1760.
        En el octavo centenario del belén de San Francisco de Asís, el Ayuntamiento de Madrid, que siempre reserva protagonismo en su agenda navideña para mostrar el trabajo de artesanos, coleccionistas y aficionados al belenismo, ha querido preparar una programación aún más especial. Un completísimo itinerario para conocer y disfrutar belenes de todos los estilos en multitud de espacios que se abren a vecinos y visitantes.</p>
      <p>Porque, ochocientos años después del primer belén, en Madrid seguimos reuniéndonos para celebrar el nacimiento del Niño Jesús y encontrándonos en torno a tradiciones que conforman nuestra identidad y que son parte esencial de la celebración de la Navidad de esta, nuestra ciudad con estrella.</p>

      <p class="texto-derecha">Marta Rivera De la Cruz</p>
      <p class="texto-derecha">Tercera teniente de Alcalde</p>
      <p class="texto-derecha">Concejal Delegada del Área de Gobierno de Cultura, Turismo y Deporte</p>
  <div class="texto-derecha ">
    <a class="btn btn-primary" href="?reload=true">Vista Completa</a>
    <a class="btn btn-outline-dark" href="?reload=true">Vista listado</a>

  </div>
</div>



<div class="row p-3 items-center bg-ligt justify-content-center ">
  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen1.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen2.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen3.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen4.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen5.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen6.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen7.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen8.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen9.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>


  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen10.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>


  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen11.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen12.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen13.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen14.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen15.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen16.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen17.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen18.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen19.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>


  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen20.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>


  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/belen21.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Belenes</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Belenes</h9>
    </div>
  </div>








</div>















{% endblock %}
