{% extends "./header.html" %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/estilos1.css' %}">

<div class="p-3">


<h2 class="px-3">Distritos</h2>
<div class="texto-derecha ">
  <a class="btn btn-primary" href="?reload=true">Vista Completa</a>
  <a class="btn btn-outline-dark" href="?reload=true">Vista listado</a>

</div>

</div>



<div class="row p-3 items-center bg-ligt justify-content-center ">
  <div class="col-md-4 efecto-imagen rounded p-3">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/dis1.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary negrita" >PISTAS DE HIELO EN LOS DISTRITOS </h4>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-3">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/dis2.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary negrita" > MERCADILLOS NAVIDEÑOS</h4>

    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-3">
    <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/dis3.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary negrita" > CABALGATAS EN LOS DISTRITOS</h4>
    </div>
  </div>


    <div class="col-md-4 efecto-imagen rounded p-4">
      <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
        <a href="#"><img class="imagenes rounded" src="{% static 'img/dis4.png' %}" alt=""></a>
        <h4 class=" m-0 p-4 text-primary negrita" > ARGANZUELA</h4>
      </div>
    </div>


    <div class="col-md-4 efecto-imagen rounded p-4">
      <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
        <a href="#"><img class="imagenes rounded" src="{% static 'img/dis5.png' %}" alt=""></a>
        <h4 class=" m-0 p-4 text-primary negrita" > CARABANCHEL</h4>

      </div>
    </div>

    <div class="col-md-4 efecto-imagen rounded p-4">
      <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
        <a href="#"><img class="imagenes rounded" src="{% static 'img/dis6.png' %}" alt=""></a>
        <h4 class=" m-0 p-4 text-primary negrita" > CENTRO</h4>
      </div>
    </div>


      <div class="col-md-4 efecto-imagen rounded p-4">
        <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
          <a href="#"><img class="imagenes rounded" src="{% static 'img/dis7.png' %}" alt=""></a>
          <h4 class=" m-0 p-4 text-primary negrita" >CHAMBERÍ</h4>
        </div>
      </div>

      <div class="col-md-4 efecto-imagen rounded p-4">
        <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
          <a href="#"><img class="imagenes rounded" src="{% static 'img/dis8.png' %}" alt=""></a>
          <h4 class=" m-0 p-4 text-primary negrita" > CHAMARTÍN</h4>

        </div>
      </div>

      <div class="col-md-4 efecto-imagen rounded p-4">
        <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
          <a href="#"><img class="imagenes rounded" src="{% static 'img/dis9.png' %}" alt=""></a>
          <h4 class=" m-0 p-4 text-primary negrita" > CIUDAD LINEAL</h4>
        </div>
      </div>


        <div class="col-md-4 efecto-imagen rounded p-4">
          <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
            <a href="#"><img class="imagenes rounded" src="{% static 'img/dis10.png' %}" alt=""></a>
            <h4 class=" m-0 p-4 text-primary negrita" >FUENCARRAL - EL PARDO</h4>
          </div>
        </div>

        <div class="col-md-4 efecto-imagen rounded p-4">
          <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
            <a href="#"><img class="imagenes rounded" src="{% static 'img/dis11.png' %}" alt=""></a>
            <h4 class=" m-0 p-4 text-primary negrita" >LATINA</h4>

          </div>
        </div>

        <div class="col-md-4 efecto-imagen rounded p-4">
          <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
            <a href="#"><img class="imagenes rounded" src="{% static 'img/dis12.png' %}" alt=""></a>
            <h4 class=" m-0 p-4 text-primary negrita" >MONCLOA - ARAVACA</h4>
          </div>
        </div>


          <div class="col-md-4 efecto-imagen rounded p-4">
            <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
              <a href="#"><img class="imagenes rounded" src="{% static 'img/dis13.png' %}" alt=""></a>
              <h4 class=" m-0 p-4 text-primary negrita" > RETIRO</h4>
            </div>
          </div>

          <div class="col-md-4 efecto-imagen rounded p-4">
            <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
              <a href="#"><img class="imagenes rounded" src="{% static 'img/dis14.png' %}" alt=""></a>
              <h4 class=" m-0 p-4 text-primary negrita" >MORATALAZ</h4>

            </div>
          </div>

          <div class="col-md-4 efecto-imagen rounded p-4">
            <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
              <a href="#"><img class="imagenes rounded" src="{% static 'img/dis15.png' %}" alt=""></a>
              <h4 class=" m-0 p-4 text-primary negrita" > SALAMANCA</h4>
            </div>
          </div>


            <div class="col-md-4 efecto-imagen rounded p-4">
              <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
                <a href="#"><img class="imagenes rounded" src="{% static 'img/dis16.png' %}" alt=""></a>
                <h4 class=" m-0 p-4 text-primary negrita" > Los Distritos cantan</h4>
              </div>
            </div>

            <div class="col-md-4 efecto-imagen rounded p-4">
              <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
                <a href="#"><img class="imagenes rounded" src="{% static 'img/dis17.png' %}" alt=""></a>
                <h4 class=" m-0 p-4 text-primary negrita" > Los Distritos cantan</h4>
              </div>
            </div>

</div>










{% endblock %}
