{% extends "./header.html" %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/estilos1.css' %}">

<main>

    <div class="container2 main pt-4" id="rc-contenido">

        <div class="busqueda pb-4">

        <div class="resultado-texto">

                <h1 class="titulo d-flex px-4">Jardines del Cabo Noval - Plaza de Oriente</h1>
            </div>
        <div class="descripcion py-2 px-4">
                        <p class="modoh2"><span style="color:#cc9933;"><strong>Música en la ciudad</strong></span></p>

    <p style="text-align: justify;">La Navidad llena calles, plazas y balcones de jazz, góspel, flamenco y otros géneros conectados con la espiritualidad. Los artistas ofrecen repertorios especiales que nos conectan con el espíritu de celebración y comunión de estas fiestas. Además, en esta epifanía que dedicamos a los mayores, un coro de voces blancas recorre la ciudad para honrar a esos abuelos que, con su sabiduría y generosidad están siempre para los demás.</p>
                    </div>




                <div class="container2 body">
                                </div>




                    <div class="container2">
                <ul class="vista viewmode  list-inline ">
                    <li><a href="#" data-view-mode="full" id="viewFull" class="viewmodetab active" data-once="viewmode-tab-behaviour">Vista completa</a></li>
                    <li><a href="#" data-view-mode="list" id="viewList" class="viewmodetab" data-once="viewmode-tab-behaviour">Vista listado</a></li>
                </ul>
            </div>

              <script>
                      $(".viewmodetab").click(function () {
                        $(".viewmodetab").removeClass("active");

                        $(this).addClass("active");
                        cookieVista($(this).attr('id'));
                    });

                $(document).ready(function () {
                   cookieVista();
                });
          </script>
                <!-- Listado de resultados -->

            <div id="cargando" class="mx-4 pb-2" style="display:none">Cargando eventos<span>.</span><span>.</span><span>.</span></div>

            <ol class="grid effect-2 resultados mt-lg-4 viewFull_ol" id="grid" style="position: relative; height: 985.866px;">


                                                    <li id="bevento159" class="grid-item finalizados " style="position: absolute; left: 0%; top: 0px; opacity: 1;">





                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite159">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/alaia" title="ir al evento" class="eventolite  finalizado">
                            <div class="txt-over ">    <img src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_163_eventos_medium.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_163_eventos_medium.jpg" width="4886" height="3032" class="programa img-fluid" alt="">



                                                        </div>

                            <h2 class="mb-0 viewFull"><span>Alaia</span></h2>
                            </a>
                            </div>

                                                    <p class="pb-3 mb-0 subtitulo">Navidad con Alaia</p>



                            <div class="d-flex justify-content-start align-items-center">

                                                                                <div class="fecha-hora ">
    <p>Jueves 21 de diciembre<span class="d-inline-block">            <time datetime="20:00">                ,&nbsp;20h</time></span></p>


                                </div>
                                                    </div>


                                                    <p class="mb-0">
                                <span class="text-danger">Finalizado</span>
                            </p>

                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                    <li style="opacity: 1;">


                                         Jardines del Cabo Noval - Plaza de Oriente

                                    </li>
                                                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">
                                                <ul class="cat">
                                <li style="opacity: 1;">
                                    <a class="etiqueta1" href="/es/categoria/musica">
                                        <span>MÚSICA</span>
                                    </a>
                                </li>
                            </ul>
                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                                                                                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li id="bevento107" class="grid-item finalizados " style="position: absolute; left: 33.2993%; top: 0px; opacity: 1;">





                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite107">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/casas-regionales" title="ir al evento" class="eventolite  finalizado">
                            <div class="txt-over ">    <img src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_131_eventos_medium.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_131_eventos_medium.jpg" width="1024" height="768" class="programa img-fluid" alt="">



                                                        </div>

                            <h2 class="my-3 viewFull"><span>Casas Regionales</span></h2>
                            </a>
                            </div>




                            <div class="d-flex justify-content-start align-items-center">

                                                                                <div class="fecha-hora ">
    <p>Viernes 22 de diciembre<span class="d-inline-block">            <time datetime="12:00">                ,&nbsp;12h</time></span></p>


                                </div>
                                                    </div>


                                                    <p class="mb-0">
                                <span class="text-danger">Finalizado</span>
                            </p>

                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                    <li style="opacity: 1;">


                                         Jardines del Cabo Noval - Plaza de Oriente

                                    </li>
                                                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">
                                                <ul class="cat">
                                <li style="opacity: 1;">
                                    <a class="etiqueta1" href="/es/categoria/musica">
                                        <span>MÚSICA</span>
                                    </a>
                                </li>
                            </ul>
                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                                                                                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li id="bevento38" class="grid-item finalizados " style="position: absolute; left: 66.5985%; top: 0px; opacity: 1;">





                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite38">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/antonio-serrano-sexteto" title="ir al evento" class="eventolite  finalizado">
                            <div class="txt-over ">    <img src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_41_eventos_medium.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_41_eventos_medium.jpg" width="5760" height="3840" class="programa img-fluid" alt="">



                                                        </div>

                            <h2 class="mb-0 viewFull"><span>Antonio Serrano Sexteto</span></h2>
                            </a>
                            </div>

                                                    <p class="pb-3 mb-0 subtitulo">Villancicos a ritmo de Jazz</p>



                            <div class="d-flex justify-content-start align-items-center">

                                                                                <div class="fecha-hora ">
    <p>Viernes 22 de diciembre<span class="d-inline-block">            <time datetime="20:00">                ,&nbsp;20h</time></span></p>


                                </div>
                                                    </div>


                                                    <p class="mb-0">
                                <span class="text-danger">Finalizado</span>
                            </p>

                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                    <li style="opacity: 1;">


                                         Jardines del Cabo Noval - Plaza de Oriente

                                    </li>
                                                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">
                                                <ul class="cat">
                                <li style="opacity: 1;">
                                    <a class="etiqueta1" href="/es/categoria/musica">
                                        <span>MÚSICA</span>
                                    </a>
                                </li>
                            </ul>
                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                                                                                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li id="bevento108" class="grid-item finalizados " style="position: absolute; left: 0%; top: 474.917px; opacity: 1;">





                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite108">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/casas-regionales-1" title="ir al evento" class="eventolite  finalizado">
                            <div class="txt-over ">    <img src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_132_eventos_medium.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_132_eventos_medium.jpg" width="1600" height="788" class="programa img-fluid" alt="">



                                                        </div>

                            <h2 class="my-3 viewFull"><span>Casas Regionales</span></h2>
                            </a>
                            </div>




                            <div class="d-flex justify-content-start align-items-center">

                                                                                <div class="fecha-hora ">
    <p>Sábado 23 de diciembre<span class="d-inline-block">            <time datetime="12:00">                ,&nbsp;12h</time></span></p>


                                </div>
                                                    </div>


                                                    <p class="mb-0">
                                <span class="text-danger">Finalizado</span>
                            </p>

                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                    <li style="opacity: 1;">


                                         Jardines del Cabo Noval - Plaza de Oriente

                                    </li>
                                                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">
                                                <ul class="cat">
                                <li style="opacity: 1;">
                                    <a class="etiqueta1" href="/es/categoria/musica">
                                        <span>MÚSICA</span>
                                    </a>
                                </li>
                            </ul>
                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                                                                                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li id="bevento39" class="grid-item finalizados " style="position: absolute; left: 66.5985%; top: 492.933px; opacity: 1;">





                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite39">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/remedios-reyes-y-familia" title="ir al evento" class="eventolite  finalizado">
                            <div class="txt-over ">    <img src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_42_eventos_medium.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_42_eventos_medium.jpg" width="3518" height="2345" class="programa img-fluid" alt="">



                                                        </div>

                            <h2 class="mb-0 viewFull"><span>Remedios Reyes y familia</span></h2>
                            </a>
                            </div>

                                                    <p class="pb-3 mb-0 subtitulo">Zambomba flamenca Los Reyes de la Navidad</p>



                            <div class="d-flex justify-content-start align-items-center">

                                                                                <div class="fecha-hora ">
    <p>Sábado 23 de diciembre<span class="d-inline-block">            <time datetime="20:00">                ,&nbsp;20h</time></span></p>


                                </div>
                                                    </div>


                                                    <p class="mb-0">
                                <span class="text-danger">Finalizado</span>
                            </p>

                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                    <li style="opacity: 1;">


                                         Jardines del Cabo Noval - Plaza de Oriente

                                    </li>
                                                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">
                                                <ul class="cat">
                                <li style="opacity: 1;">
                                    <a class="etiqueta1" href="/es/categoria/musica">
                                        <span>MÚSICA</span>
                                    </a>
                                </li>
                            </ul>
                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                                                                                </div>
                </div>
    </li>
                        </ol>
    </div>

    <noscript>
        <style>

          .grid li.grid-item .infolittle {
            opacity: 1;
          }
          .grid li a.imagen {
            height: 150px;
            overflow: hidden;
            display: inline-block!important;
            border: 0;
          }
        </style>
    </noscript>
    </div>
             </main>


{% endblock%}
