{% extends "./header.html" %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/estilos1.css' %}">



<main>

    <div class="container2 main pt-4" id="rc-contenido">

        <div class="busqueda pb-4">

        <div class="resultado-texto">

                <h1 class="titulo d-flex px-4">Centros Municipales</h1>
            </div>





                    <div class="container2">
                <ul class="vista viewmode  list-inline ">
                    <li><a href="#" data-view-mode="full" id="viewFull" class="viewmodetab active" data-once="viewmode-tab-behaviour">Vista completa</a></li>
                    <li><a href="#" data-view-mode="list" id="viewList" class="viewmodetab" data-once="viewmode-tab-behaviour">Vista listado</a></li>
                </ul>
            </div>

              <script>
                      $(".viewmodetab").click(function () {
                        $(".viewmodetab").removeClass("active");

                        $(this).addClass("active");
                        cookieVista($(this).attr('id'));
                    });

                $(document).ready(function () {
                   cookieVista();
                });
          </script>
                <!-- Listado de resultados -->

            <div id="cargando" class="mx-4 pb-2" style="display:none">Cargando eventos<span>.</span><span>.</span><span>.</span></div>

            <ol class="grid effect-2 resultados mt-lg-4 viewFull_ol" id="grid" style="position: relative; height: 2046.67px;">

                                        <li class="grid-item " id="bevento149" style="position: absolute; left: 0%; top: 0px; opacity: 1;">



                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite149">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/centro-de-cultura-contemporanea-condeduque" title="ir al evento" class="eventolite ">
                            <div class="txt-over ">                <img src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-18a55275e2ab75c552fdefad02aba8a0c5bd5651.jpeg" data-src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-18a55275e2ab75c552fdefad02aba8a0c5bd5651.jpeg" width="696" height="283" class="programa" alt="">

    <div aria-hidden="true">
    <noscript>
            <img class="img-fluid" src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-18a55275e2ab75c552fdefad02aba8a0c5bd5651.jpeg" width="696" height="283"  onerror="this.style.display='none'" alt="" >
    </noscript>
    </div>


                                                        </div>

                            <h2 class="my-3 viewFull"><span>Centro de Cultura Contemporánea Condeduque</span></h2>
                            </a>
                            </div>




                            <div class="d-flex justify-content-start align-items-center">

                                                                            </div>



                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                                                    <li style="opacity: 1;">

                                        Centro de Cultura Contemporánea Condeduque
                                                                        </li>
                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">


                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li class="grid-item " id="bevento148" style="position: absolute; left: 33.2993%; top: 0px; opacity: 1;">



                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite148">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/centrocentro" title="ir al evento" class="eventolite ">
                            <div class="txt-over ">                <img src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-6a8d02126e2e4c98b46bdc40edc1714d09907df6.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-6a8d02126e2e4c98b46bdc40edc1714d09907df6.jpg" width="696" height="283" class="programa" alt="">

    <div aria-hidden="true">
    <noscript>
            <img class="img-fluid" src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-6a8d02126e2e4c98b46bdc40edc1714d09907df6.jpg" width="696" height="283"  onerror="this.style.display='none'" alt="" >
    </noscript>
    </div>


                                                        </div>

                            <h2 class="my-3 viewFull"><span>CentroCentro</span></h2>
                            </a>
                            </div>




                            <div class="d-flex justify-content-start align-items-center">

                                                                            </div>



                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                                                    <li style="opacity: 1;">

                                        CentroCentro
                                                                        </li>
                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">


                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li class="grid-item " id="bevento150" style="position: absolute; left: 66.5985%; top: 0px; opacity: 1;">



                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite150">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/espacio-abierto-quinta-de-los-molinos" title="ir al evento" class="eventolite ">
                            <div class="txt-over ">                <img src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-2bb4f8c82fd79a54c4ef93e3fd4d523e0d7225f3.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-2bb4f8c82fd79a54c4ef93e3fd4d523e0d7225f3.jpg" width="696" height="283" class="programa" alt="">

    <div aria-hidden="true">
    <noscript>
            <img class="img-fluid" src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-2bb4f8c82fd79a54c4ef93e3fd4d523e0d7225f3.jpg" width="696" height="283"  onerror="this.style.display='none'" alt="" >
    </noscript>
    </div>


                                                        </div>

                            <h2 class="my-3 viewFull"><span>Espacio Abierto Quinta de los Molinos</span></h2>
                            </a>
                            </div>




                            <div class="d-flex justify-content-start align-items-center">

                                                                            </div>



                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                                                    <li style="opacity: 1;">

                                        Espacio Abierto Quinta de los Molinos
                                                                        </li>
                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">


                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li class="grid-item " id="bevento163" style="position: absolute; left: 33.2993%; top: 472px; opacity: 1;">



                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite163">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/espacio-cultural-serreria-belga" title="ir al evento" class="eventolite ">
                            <div class="txt-over ">    <img src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_178_eventos_medium.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_178_eventos_medium.jpg" width="1836" height="3264" class="programa img-fluid" alt="">



                                                        </div>

                            <h2 class="my-3 viewFull"><span>Espacio Cultural Serrería Belga</span></h2>
                            </a>
                            </div>




                            <div class="d-flex justify-content-start align-items-center">

                                                                            </div>



                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                                                    <li style="opacity: 1;">

                                        Espacio Cultural Serrería Belga
                                                                        </li>
                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">


                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li class="grid-item " id="bevento151" style="position: absolute; left: 66.5985%; top: 472px; opacity: 1;">



                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite151">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/fernan-gomez-centro-cultural-de-la-villa" title="ir al evento" class="eventolite ">
                            <div class="txt-over ">                <img src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-c17f592cafcb69e43e98e948664c7e9fc34e2f3b.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-c17f592cafcb69e43e98e948664c7e9fc34e2f3b.jpg" width="696" height="283" class="programa" alt="">

    <div aria-hidden="true">
    <noscript>
            <img class="img-fluid" src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-c17f592cafcb69e43e98e948664c7e9fc34e2f3b.jpg" width="696" height="283"  onerror="this.style.display='none'" alt="" >
    </noscript>
    </div>


                                                        </div>

                            <h2 class="my-3 viewFull"><span>Fernán Gómez. Centro Cultural de la Villa</span></h2>
                            </a>
                            </div>




                            <div class="d-flex justify-content-start align-items-center">

                                                                            </div>



                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                                                    <li style="opacity: 1;">

                                        Fernán Gómez Centro Cultural de la Villa
                                                                        </li>
                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">


                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li class="grid-item  con_hijos" id="bevento145" style="position: absolute; left: 0%; top: 482px; opacity: 1;">



                        <div class="basic ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite145">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/la-navidad-del-teatro-de-titeres" title="ir al evento" class="eventolite ">
                            <div class="txt-over ">    <img src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_150_eventos_medium.png" data-src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_150_eventos_medium.png" width="1920" height="1079" class="programa img-fluid" alt="">

                                                                <div class="info-num">3
                                                                            eventos
                                                                        </div>


                                                        </div>

                            <h2 class="my-3 viewFull"><span>LA NAVIDAD DEL TEATRO DE TÍTERES</span></h2>
                            </a>
                            </div>




                            <div class="d-flex justify-content-start align-items-center">

                                                                            </div>




                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">


                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li class="grid-item " id="bevento161" style="position: absolute; left: 0%; top: 872.167px; opacity: 1;">



                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite161">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/matadero" title="ir al evento" class="eventolite ">
                            <div class="txt-over ">                <img src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-1b3ea23438a823721edf696118f1d1997920f5bc.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-1b3ea23438a823721edf696118f1d1997920f5bc.jpg" width="696" height="283" class="programa" alt="">

    <div aria-hidden="true">
    <noscript>
            <img class="img-fluid" src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-1b3ea23438a823721edf696118f1d1997920f5bc.jpg" width="696" height="283"  onerror="this.style.display='none'" alt="" >
    </noscript>
    </div>


                                                        </div>

                            <h2 class="my-3 viewFull"><span>Matadero</span></h2>
                            </a>
                            </div>




                            <div class="d-flex justify-content-start align-items-center">

                                                                            </div>



                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                    <li style="opacity: 1;">


                                         Matadero Madrid

                                    </li>
                                                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">


                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li class="grid-item " id="bevento162" style="position: absolute; left: 66.5985%; top: 954px; opacity: 1;">







                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite162">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/naves-del-espanol-en-matadero" title="ir al evento" class="eventolite ">
                            <div class="txt-over ">                <img src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-5898d50d91dfd916baa8139cc1acf5bc2351bf34.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-5898d50d91dfd916baa8139cc1acf5bc2351bf34.jpg" width="696" height="283" class="programa" alt="">

    <div aria-hidden="true">
    <noscript>
            <img class="img-fluid" src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-5898d50d91dfd916baa8139cc1acf5bc2351bf34.jpg" width="696" height="283"  onerror="this.style.display='none'" alt="" >
    </noscript>
    </div>


                                                        </div>

                            <h2 class="my-3 viewFull"><span>Naves del Español en Matadero</span></h2>
                            </a>
                            </div>




                            <div class="d-flex justify-content-start align-items-center">

                                                                            </div>



                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                                                    <li style="opacity: 1;">

                                        Naves Español en Matadero
                                                                        </li>
                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">


                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                    <li class="accesibilidad_audiodescripcion" style="opacity: 1;">
                                <span class="icon-audiodescripcion ico-accesible"></span>
                                <span class="d-none">
                                    Audiodescripción
                                </span>
                            </li>
                                                                                                    <li class="accesibilidad_bucle-magnetico" style="opacity: 1;">
                                <span class="icon-buclemagnetico ico-accesible"></span>
                                <span class="d-none">
                                    Bucle magnético
                                </span>
                            </li>
                                                                                                    <li class="accesibilidad_sonido-amplificado" style="opacity: 1;">
                                <span class="icon-sonidoamplificado ico-accesible"></span>
                                <span class="d-none">
                                    Sonido amplificado
                                </span>
                            </li>
                                                                                                                                                    <li class="accesibilidad_subtitulado-interlinguistico" style="opacity: 1;">
                                <span class="icon-idiomas ico-accesible"></span>
                                <span class="d-none">
                                    Subtitulado interlingüístico
                                </span>
                            </li>
                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li class="grid-item " id="bevento164" style="position: absolute; left: 0%; top: 1344.17px; opacity: 1;">










                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite164">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/teatro-circo-price" title="ir al evento" class="eventolite ">
                            <div class="txt-over ">    <img src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_179_eventos_medium.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/eventos/0001/01/thumb_179_eventos_medium.jpg" width="3354" height="4435" class="programa img-fluid" alt="">



                                                        </div>

                            <h2 class="my-3 viewFull"><span>Teatro Circo Price</span></h2>
                            </a>
                            </div>




                            <div class="d-flex justify-content-start align-items-center">

                                                                            </div>



                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                                                    <li style="opacity: 1;">

                                        Teatro Circo Price
                                                                        </li>
                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">


                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                    <li class="accesibilidad_lengua-de-signos" style="opacity: 1;">
                                <span class="icon-lenguadesignos ico-accesible"></span>
                                <span class="d-none">
                                    Lengua de signos
                                </span>
                            </li>
                                                                                                    <li class="accesibilidad_audiodescripcion" style="opacity: 1;">
                                <span class="icon-audiodescripcion ico-accesible"></span>
                                <span class="d-none">
                                    Audiodescripción
                                </span>
                            </li>
                                                                                                    <li class="accesibilidad_bucle-magnetico" style="opacity: 1;">
                                <span class="icon-buclemagnetico ico-accesible"></span>
                                <span class="d-none">
                                    Bucle magnético
                                </span>
                            </li>
                                                                                                    <li class="accesibilidad_sonido-amplificado" style="opacity: 1;">
                                <span class="icon-sonidoamplificado ico-accesible"></span>
                                <span class="d-none">
                                    Sonido amplificado
                                </span>
                            </li>
                                                                                                    <li class="accesibilidad_mochilas-vibratorias" style="opacity: 1;">
                                <span class="icon-mochila"></span>
                                <span class="d-none">
                                    Mochilas vibratorias
                                </span>
                            </li>
                                                                                                    <li class="accesibilidad_paseo-escenico" style="opacity: 1;">
                                <span class="icon-tt ico-accesible"></span>
                                <span class="d-none">
                                    Paseo escénico
                                </span>
                            </li>
                                                                                                                                                    <li class="accesibilidad_lectura-facil" style="opacity: 1;">
                                <span class="icon-lecturafacil"></span>
                                <span class="d-none">
                                    Lectura fácil
                                </span>
                            </li>
                                                                        </ul>
                                        </div>
                </div>
    </li>
                                        <li class="grid-item " id="bevento165" style="position: absolute; left: 33.2993%; top: 1350.15px; opacity: 1;">







                        <div class="basic addheight ">

                    <div class="basic2">
                        <!--imagen-->
                        <div class="card-img-top img-busqueda" id="imgLite165">

                            <div class="imagen-busqueda">

                            <a href="/es/evento/teatro-espanol" title="ir al evento" class="eventolite ">
                            <div class="txt-over ">                <img src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-9d1b9d6e495094c7891ee46727eceb9ef06a0301.jpg" data-src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-9d1b9d6e495094c7891ee46727eceb9ef06a0301.jpg" width="696" height="283" class="programa" alt="">

    <div aria-hidden="true">
    <noscript>
            <img class="img-fluid" src="https://estaticos.navidadmadrid.com/uploads/media/galeriaevento/cropped/thumbnail/740x500-9d1b9d6e495094c7891ee46727eceb9ef06a0301.jpg" width="696" height="283"  onerror="this.style.display='none'" alt="" >
    </noscript>
    </div>


                                                        </div>

                            <h2 class="my-3 viewFull"><span>Teatro Español</span></h2>
                            </a>
                            </div>




                            <div class="d-flex justify-content-start align-items-center">

                                                                            </div>



                            <div class="lugar mt-1">
                                <ul class="d-flex flex-column">
                                                                                                    <li style="opacity: 1;">

                                        Teatro Español
                                                                        </li>
                                                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="final  pt-2  pb-0">
                    <!--Categorias-->
                        <div class="categ">


                                            </div>

                                            <ul class="accesibilidad">
                                                                            <li class="accesibilidad_movilidad-reducida" style="opacity: 1;">
                                <span class="icon-silladeruedas ico-accesible"></span>
                                <span class="d-none">
                                    Movilidad reducida
                                </span>
                            </li>
                                                                                                    <li class="accesibilidad_audiodescripcion" style="opacity: 1;">
                                <span class="icon-audiodescripcion ico-accesible"></span>
                                <span class="d-none">
                                    Audiodescripción
                                </span>
                            </li>
                                                                                                    <li class="accesibilidad_bucle-magnetico" style="opacity: 1;">
                                <span class="icon-buclemagnetico ico-accesible"></span>
                                <span class="d-none">
                                    Bucle magnético
                                </span>
                            </li>
                                                                                                    <li class="accesibilidad_sonido-amplificado" style="opacity: 1;">
                                <span class="icon-sonidoamplificado ico-accesible"></span>
                                <span class="d-none">
                                    Sonido amplificado
                                </span>
                            </li>
                                                                                                                                                    <li class="accesibilidad_subtitulado-interlinguistico" style="opacity: 1;">
                                <span class="icon-idiomas ico-accesible"></span>
                                <span class="d-none">
                                    Subtitulado interlingüístico
                                </span>
                            </li>
                                                                        </ul>
                                        </div>
                </div>
    </li>


                        </ol>
            <!-- Fin listado de resultados -->


    </div>

    <noscript>
        <style>

          .grid li.grid-item .infolittle {
            opacity: 1;
          }
          .grid li a.imagen {
            height: 150px;
            overflow: hidden;
            display: inline-block!important;
            border: 0;
          }
        </style>
    </noscript>
    </div>
             </main>

{% endblock%}
