{% extends "./header.html" %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/estilos1.css' %}">
<div class="p-3">


<h2 class="px-3">Música</h2>
<div class="texto-derecha ">
  <a class="btn btn-primary" href="?reload=true">Vista Completa</a>
  <a class="btn btn-outline-dark" href="?reload=true">Vista listado</a>

</div>


</div>





<div class="row p-3 items-center bg-ligt justify-content-center ">
  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc1.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc2.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1  borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc3.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc4.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc5.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc6.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc7.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc8.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc9.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>


  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc10.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>


  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc11.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc12.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc13.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc14.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc15.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc16.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc17.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc18.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>

  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc19.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>


  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc20.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>


  <div class="col-md-4 efecto-imagen rounded p-4">
    <div class="col-md-12 mx-auto fondo1 borde-negro rounded">
      <a href="#"><img class="imagenes rounded" src="{% static 'img/muc21.png' %}" alt=""></a>
      <h4 class=" m-0 p-4 text-primary" > Musica</h4>
      <p class=" m-0 p-4">Del 23 de noviembre al 5 de enero</p>
      <p class="m-0 p-4">CentroCentro - Patio de Operaciones </p>
      <h9 class="text-primary px-4">Musica</h9>
    </div>
  </div>








</div>











{% endblock %}
